@import "minimalist"

.{root}
	active-color = #008ED0

	&.fixed-controls, &.is-mouseout, &.is-mouseover 
		.fp-controls
			height 30px
			bg #F

		.fp-timeline
			bg rgb(238,238,238)
			height 100%
			margin-left 67px !important
			margin 0 67px !important
			top 0 !important
			overflow visible

		.fp-highlight
			bg #008ed0
			bg rgba(0, 142, 208, 0.5)
			border-left 1px solid #138ed0
			border-right 1px solid #138ed0
			z-index 10
			height 100%
			position relative
			top 0
			width 0
			display none
			&.active
				display block

		.fp-progress
			bg rgba(68,255,255,0.4)
			border-right 3px solid #138ed0
			z-index 20

		.fp-buffer
			bg rgba(153,153,153,0.3)

		.fp-time 
			text-shadow none
			font-size 10px
			color #0
			font-weight normal

			em
				bottom 10px

			.fp-elapsed
				right 5px
				left auto
				text-align right
				opacity 1

			.fp-remaining, .fp-duration
				display none	

		.fp-play
			bottom -3px
			left 5px
			display block
			font-size 11px
			opacity 1
			width 50px
			text-transform uppercase
			color active-color
			font-weight bold

		.fp-volume, .fp-embed
			display none

		.fp-fullscreen
			text-indent -99999px

		.fp-engine
			bg rgb(238,238,238)
		
		// our in point out point markers
		.fp-cuepoint
			display	block
			position absolute
			top 0
			font-size 11px
			opacity 1
			width 50px
			text-transform uppercase
			color active-color
			font-weight bold
			padding 2px
			background-color rgba(255,255,255,0.7)
			width 28px
			height 28px
			margin-left -14px
			text-align center
			-webkit-box-sizing border-box
			-moz-box-sizing border-box
			box-sizing border-box
			margin-top 30px

			i
				width 0 
				height 0
				display block
				border 5px solid transparent
				margin 0 auto 0 auto
		.fp-cuepoint0
			i
				border-bottom-color active-color
				border-top none
		.fp-cuepoint1
			left 100%
			i
				border-top-color active-color
				border-bottom none
		
.mediaelement-audio, .file-audio
	.fp-ratio
		padding-top 10%